<div class="card my-5">
  <div class="card-body">
    <h2><strong>問題</strong></h2>
    <%= form_with model: @question, local: true do |f| %>
      <p class="card-title">
        <div class="form-group">
          <%= f.text_area :q_title, class: 'form-control ', cols: "30", rows: "6", readonly: true,
          style: "font-size: calc(30/ 1400 * 100vw);",
          value: "#{@random_1st} とかけまして  \n\n#{@random_2nd} ととく  \n\nそのこころは？" %>
        </div>
      </p>
      <p class="card-text">
        <div class="form-group">
          <%= f.text_area :q_description, rows: "4", placeholder: 'どちらも〇〇でしょう', class: 'form-control' %>
        </div>
      </p>
      <div class="col-md-3">
        <%= f.submit "答える" %>
      </div>
    <% end %>
  </div>
</div>